// Resource IDs
#define IDI_APPICON   1
#define IDI_PLAIN     101
#define IDI_FORMATTED 102
#define IDI_IMAGE     103
#define IDI_FILE      104

// Embed the bitmaps or icons
IDI_APPICON   ICON    "icons/icon.ico"
IDI_PLAIN     ICON    "icons/type_plain_text.ico"
IDI_FORMATTED ICON    "icons/type_formatted_text.ico"
IDI_IMAGE     ICON    "icons/type_image.ico"
IDI_FILE      ICON    "icons/type_file.ico"
