#include "resource.h"
IDI_ICON1 ICON "favicon.ico"
DLG_MAIN DIALOGEX 6, 5, 500, 520

CAPTION "IMPRESION DE LIBRO"

FONT 8, "Tahoma"

STYLE 0x10CE0804

BEGIN

  LTEXT "Página Inicial", IDC_LTEXT_START_PAGE, 10, 5, 50, 15
  LTEXT "Página Final", IDC_LTEXT_START_PAGE, 10, 24, 50, 15
  EDITTEXT IDC_EDIT_START_PAGE, 60, 5, 40, 12, WS_BORDER
  EDITTEXT IDC_EDIT_END_PAGE, 60, 24, 40, 12, WS_BORDER

  CONTROL "&Calcular", IDC_BTN_CALC, "Button", 0x10010000, 138,  5, 46, 15

  LTEXT "OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO OOOOO", IDC_LTEXT_NOTICE, 40, 50, 400, 12

  LTEXT "Frente", IDC_LTEXT_FRONT_PAGES, 10, 63, 28, 15
  LTEXT "Reverso", IDC_LTEXT_REVERSE_PAGES, 10, 280, 28, 15
  LTEXT "Hoja Sola", IDC_LTEXT_LONE_PAGE, 10, 497, 40, 15
  EDITTEXT IDC_EDIT_FRONT_PAGES, 40, 63, 450, 200, WS_BORDER | ES_MULTILINE
  EDITTEXT IDC_EDIT_BACK_PAGES, 40, 280, 450, 200, WS_BORDER | ES_MULTILINE
  EDITTEXT IDC_EDIT_LONE_PAGE, 52, 494, 50, 15, WS_BORDER
END
